.history/
node_modules/
dist/

# Logs e arquivos temporários
*.txt
databases/

# Arquivos fora do projeto
*.pdf
*.xml
*.png
!projeto-final/backend-nfe/assets/*.png
*.jpg
*.jpeg
*.jfif
*.cdr
*.rar
*.zip

# Variaveis de ambiente
.env
.env.local
